### Microservice config ###################################

MS_PORT_PUBLIC=8087
MS_HOST_PUBLIC=localhost

### Paths #################################################

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=/var/us-skeleton